<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> Mark's-Branch
<!DOCTYPE html>
<html lang="en">
<!--THIS IS TO MAKE SURE GITHUB WORKFLOW IS WORKING-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><% user.google.name %> Profile Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />

    <!-- Custom CSS -->
    <link href="https://dl.dropbox.com/s/klflnjnudyv1ldw/simple-sidebar.css" rel="stylesheet">
    <!-- <link href="simple-sidebar.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <h3><%= user.google.name %></h3>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Groups that you are in ...</li>
                    <li><a href="#" id="group-show">Groups</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meetings<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Meetings that you are to attend ...</li>
                    <li><a href="#">Meetings</a></li>
                  </ul>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal">Create New Group</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="page-header text-center">
                    <h2>Hello, <%= user.google.name %>!</h2>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>


                <div id="user-group-information" style="display:none;">
                    <h1>Groups</h1>
                    <p>This is were minimal group information will go.</p>
					<h1> Your groups </h1>
					<ul>
						<% for(var i = 0; i < user.google.groups.length; i++) { %>
							<div class="row">
							<h3>
								<a href='/groupProfile/<%=user.google.groups[i].groupID%>'>
								<%= user.google.groups[i].groupname%>
								<a>
							<h3>
							</div>
						<%}%>
					</ul>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- Create Group Btn & Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Group</h4>
                </div>
                    <form action="/profile" method="post" id="thisForm">
                        <div class="modal-body">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" name="groupName" required><br>
                            <label>Members</label><br>
                            <input type="text" data-role="tagsinput" placeholder="Enter google email addresses" name="groupEmails" id="groupEmails" required/>
                            <label id="errorMessage" style="color:red;"></label>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning btn-lg" id="thisButton">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#modal -->
    </div>
    <!-- /#wrapper

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        //REGEX Check
        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        };

        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

              if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
              } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
              }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            // Toggle information
            $('#group-show').click(function(){
//                $('#login-form').toggle();
                $('#user-group-information').toggle();
            });

            // Email Validation
            $("#thisButton").click(function(e) {
		        var values = $("#groupEmails").val().split(",");
                for(i=0; i<values.length; i++){
                    if( !isValidEmailAddress( values[i] ) ) {
                        $('#errorMessage').html("Sorry, " + values[i] + " is not an email! Please remove it and enter a proper email like (Ex: example@email.com)");
//                        alert("This is not an email!");
                        e.preventDefault();
                    }
                }
            });
        });
    </script>

</body>

</html>
=======
<<<<<<< HEAD
=======
>>>>>>> master
>>>>>>> Mark's-Branch
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><% user.google.name %> Profile Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />

    <!-- Custom CSS -->
    <link href="https://dl.dropbox.com/s/klflnjnudyv1ldw/simple-sidebar.css" rel="stylesheet">
    <!-- <link href="simple-sidebar.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <h3><%= user.google.name %></h3>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Groups that you are in ...</li>
                    <li><a href="#" id="group-show">Groups</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meetings<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Meetings that you are to attend ...</li>
                    <li><a href="#">Meetings</a></li>
                  </ul>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal">Create New Group</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="page-header text-center">
                    <h2>Hello, <%= user.google.name %>!</h2>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>


                <div id="user-group-information" style="display:none;">
                    <h1>Groups</h1>
                    <p>This is were minimal group information will go.</p>
					<h1> Your groups </h1>
					<ul>
						<% for(var i = 0; i < user.google.groups.length; i++) { %>
							<div class="row">
							<h3>
								<a href='/groupProfile/<%=user.google.groups[i].groupID%>'>
								<%= user.google.groups[i].groupname%>
								<a>
							<h3>
							</div>
						<%}%>
					</ul>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- Create Group Btn & Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Group</h4>
                </div>
                    <form action="/profile" method="post" id="thisForm">
                        <div class="modal-body">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" name="groupName" required><br>
                            <label>Members</label><br>
                            <input type="text" data-role="tagsinput" placeholder="Enter google email addresses" name="groupEmails" id="groupEmails" required/>
                            <label id="errorMessage" style="color:red;"></label>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning btn-lg" id="thisButton">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#modal -->
    </div>
    <!-- /#wrapper

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        //REGEX Check
        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        };

        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

              if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
              } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
              }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            // Toggle information
            $('#group-show').click(function(){
//                $('#login-form').toggle();
                $('#user-group-information').toggle();
            });

            // Email Validation
            $("#thisButton").click(function(e) {
		        var values = $("#groupEmails").val().split(",");
                for(i=0; i<values.length; i++){
                    if( !isValidEmailAddress( values[i] ) ) {
                        $('#errorMessage').html("Sorry, " + values[i] + " is not an email! Please remove it and enter a proper email like (Ex: example@email.com)");
//                        alert("This is not an email!");
                        e.preventDefault();
                    }
                }
            });
        });
    </script>

</body>

</html>
<<<<<<< HEAD
>>>>>>> Mark's-Branch
=======
<<<<<<< HEAD
=======
<!DOCTYPE html>
<html lang="en">
<!--THIS IS TO MAKE SURE GITHUB WORKFLOW IS WORKING-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><% user.google.name %> Profile Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />

    <!-- Custom CSS -->
    <link href="https://dl.dropbox.com/s/klflnjnudyv1ldw/simple-sidebar.css" rel="stylesheet">
    <!-- <link href="simple-sidebar.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <h3><%= user.google.name %></h3>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Groups that you are in ...</li>
                    <li><a href="#" id="group-show">Groups</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meetings<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Meetings that you are to attend ...</li>
                    <li><a href="#">Meetings</a></li>
                  </ul>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal">Create New Group</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="page-header text-center">
                    <h2>Hello, <%= user.google.name %>!</h2>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>


                <div id="user-group-information" style="display:none;">
                    <h1>Groups</h1>
                    <p>This is were minimal group information will go.</p>
					<h1> Your groups </h1>
					<ul>
						<% for(var i = 0; i < user.google.groups.length; i++) { %>
							<div class="row">
							<h3>
								<a href='/groupProfile/<%=user.google.groups[i].groupID%>'>
								<%= user.google.groups[i].groupname%>
								<a>
							<h3>
							</div>
						<%}%>
					</ul>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- Create Group Btn & Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Group</h4>
                </div>
                    <form action="/profile" method="post" id="thisForm">
                        <div class="modal-body">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" name="groupName" required><br>
                            <label>Members</label><br>
                            <input type="text" data-role="tagsinput" placeholder="Enter google email addresses" name="groupEmails" id="groupEmails" required/>
                            <label id="errorMessage" style="color:red;"></label>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning btn-lg" id="thisButton">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#modal -->
    </div>
    <!-- /#wrapper

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        //REGEX Check
        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        };

        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

              if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
              } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
              }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            // Toggle information
            $('#group-show').click(function(){
//                $('#login-form').toggle();
                $('#user-group-information').toggle();
            });

            // Email Validation
            $("#thisButton").click(function(e) {
		        var values = $("#groupEmails").val().split(",");
                for(i=0; i<values.length; i++){
                    if( !isValidEmailAddress( values[i] ) ) {
                        $('#errorMessage').html("Sorry, " + values[i] + " is not an email! Please remove it and enter a proper email like (Ex: example@email.com)");
//                        alert("This is not an email!");
                        e.preventDefault();
                    }
                }
            });
        });
    </script>

</body>

</html>
>>>>>>> master
=======
>>>>>>> Mark's-Branch
>>>>>>> master
>>>>>>> Mark's-Branch
